# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.git
.project
bower_components/
node_modules/
.sass-cache/
.tmp
.extra
GeoIP2-City.mmdb
